/********************************/
/* Login Pafe Form*/
/********************************/
.section-book {
  padding: 5rem 0;
  background-image: linear-gradient(to right, #ff575f, #ff575f);
  position: fixed;
  top: 0;
  z-index: 100;
  width: 100%;
  min-height: 100vh;
  opacity: 0;
  visibility: hidden;
  transition: all 0.6s cubic-bezier(0.895, 0.03, 0.685, 0.22); }

.sign-in-form {
  opacity: 1;
  visibility: visible; }

.btn--close-signin {
  font-family: inherit;
  color: inherit;
  position: absolute;
  top: 1rem;
  right: 2rem;
  line-height: 1.2;
  border: none;
  background: none;
  font-size: 4.6rem;
  cursor: pointer; }

.book {
  min-height: 52rem;
  background-image: linear-gradient(-90deg, rgba(255, 255, 255, 0.9) 0%, rgba(255, 255, 255, 0.9) 70%, transparent 70%), url(../img/bg1.jpg);
  background-size: 100%;
  background-position: center;
  box-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.2); }
  .book__form {
    width: 70%;
    padding: 2rem;
    float: right; }

.form__input {
  display: block;
  font-family: sans-serif;
  color: #888;
  font-size: 1.5rem;
  padding: 1.5rem 2rem;
  border-radius: 2px;
  width: 80%;
  border: none;
  border-bottom: 0.3rem solid transparent;
  transition: all 0.3s; }
  .form__input:focus {
    outline: none;
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
    border-bottom: 0.3rem solid #cc01ff; }
  .form__input:focus:invalid {
    border-bottom: 0.3rem solid #181717; }
  .form__input::-webkit-input-placeholder {
    color: #888;
    font-size: 1.4rem;
    font-weight: 700; }

.form__label {
  font-size: 1rem;
  font-weight: 600;
  margin-left: 2rem;
  margin-top: 0.7rem;
  display: block;
  transform: translateY(-8rem);
  transition: all 0.3s; }

.form__input:placeholder-shown + .form__label {
  opacity: 0;
  visibility: hidden;
  transform: translateY(-4rem); }

.form__radio-group {
  display: inline-block;
  width: 48%; }

.form__radio-input {
  display: none; }

.form__radio-label {
  font-size: 1.5rem;
  font-weight: 700;
  text-transform: uppercase;
  cursor: pointer;
  position: relative;
  padding-left: 4rem; }

.form__radio-button {
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  display: inline-block;
  border: 0.5rem solid #730039;
  position: absolute;
  top: -0.4rem;
  left: 0; }
  .form__radio-button::after {
    content: '';
    display: inline-block;
    height: 1.3rem;
    width: 1.3rem;
    border-radius: 50%;
    background-color: #730039;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: all 0.2s; }

.form__radio-input:checked ~ .form__radio-label .form__radio-button::after {
  opacity: 1; }

.btn-tertiary:link,
.btn-tertiary:visited {
  font-family: 'Open Sans', sans-serif;
  display: inline-block;
  margin-top: 4rem;
  padding: 1rem 5rem;
  font-size: 1.6rem;
  font-weight: 700;
  letter-spacing: 0.75px;
  text-transform: uppercase;
  text-decoration: none;
  background-color: #f80459;
  border-radius: 100px;
  color: #111;
  transition: all 0.3s; }

.btn-tertiary:hover,
.btn-tertiary:active {
  background-color: #be0244; }

.content {
  display: grid;
  grid-template-columns: 18% 82%; }

aside {
  background-color: #101d35; }

main {
  display: none;
  transform: scale(0); }

main.main-content__active {
  margin-top: 8rem;
  display: block;
  transform: scale(1);
  transition: transform 1s ease; }

/*************************************/
/* Modal Window For Asked Question */
/*************************************/
.modal {
  background-color: #f3f3f3;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  max-width: 100%;
  width: 80%;
  padding: 2rem 4rem;
  box-shadow: 0 4rem 6rem rgba(0, 0, 0, 0.2);
  z-index: 1000;
  transition: all 0.6s cubic-bezier(0.86, 0, 0.07, 1); }
  .modal__header {
    font-size: 3.25rem;
    line-height: 1.5;
    margin-bottom: 4.5rem;
    margin-left: 2rem; }
  .modal__form {
    margin: 0 2rem; }
    .modal__form label {
      font-size: 1.7rem;
      font-weight: 500;
      display: block; }
    .modal__form input {
      width: 100%;
      font-size: 1.8rem;
      padding: 1rem 1.5rem;
      border: 0.1rem solid #ddd;
      border-radius: 0.3rem;
      outline: none; }
    .modal__form textarea {
      width: 100%;
      border: 0.1rem solid #ddd;
      resize: none;
      outline: none;
      padding: 1rem 1.5rem; }
    .modal__form select {
      margin-top: 0.5rem;
      padding: 1rem 2rem;
      border: 0.2rem solid #101d26;
      font-size: 1.4rem;
      font-weight: 600;
      text-transform: uppercase; }
    .modal__form button {
      display: block;
      margin-top: 4rem;
      font-size: 1.6rem;
      padding: 1.3rem 4rem;
      border-radius: 3rem;
      border: none;
      cursor: pointer;
      background-color: #730039;
      color: #fff; }

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(4px);
  z-index: 100;
  transition: all 0.5s; }

.btn--close-modal {
  font-family: inherit;
  color: inherit;
  position: absolute;
  top: 1rem;
  right: 2rem;
  line-height: 1.2;
  border: none;
  background: none;
  font-size: 4.6rem;
  cursor: pointer; }

.modal.hidden {
  transform: translate(-50%, -50%) scale(0.2); }

.hidden {
  visibility: hidden;
  opacity: 0; }

/********************************/
/* Utilites/Helper Classes */
/********************************/
.u-margin-bottom-large {
  margin-bottom: 2rem; }

.row {
  max-width: 120rem;
  width: 90%;
  margin: 0 auto; }

/********************************/
/* Header Navigation */
/********************************/
.navigation {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 5;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 3rem;
  height: 8rem;
  background-color: #f9f9f9;
  box-shadow: 0 0rem 2rem rgba(29, 29, 29, 0.2); }
  .navigation__logo--link {
    font-family: 'Work Sans', sans-serif;
    font-size: 1.9rem;
    font-weight: 500;
    text-transform: uppercase;
    text-decoration: none;
    color: #444; }
  .navigation__search {
    flex: 0 0 46%;
    display: flex;
    justify-content: center;
    align-items: center; }
    .navigation__search svg {
      height: 1.8rem;
      width: 1.8rem;
      stroke: #666;
      z-index: 2;
      transform: translate(-1.2rem); }
    .navigation__search--input {
      font-family: inherit;
      font-size: 1.4rem;
      color: inherit;
      border: none;
      border-radius: 10rem;
      padding: 0.8rem 3.5rem;
      width: 70%;
      background-color: #f0eeee;
      transition: all 0.6s;
      margin-left: -4.25rem;
      margin-right: 1rem; }
      .navigation__search--input:focus {
        outline: none; }
  .navigation__profile {
    flex: 0 0 15%;
    align-self: stretch;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer; }
    .navigation__profile svg {
      height: 3rem;
      width: 3rem;
      stroke: #730099; }
  .navigation__profile-user {
    height: 100%;
    padding: 0 2rem;
    display: flex;
    font-size: 1.6rem;
    align-items: center;
    margin-right: auto; }
    .navigation__profile-user:hover, .navigation__profile-user:active {
      background-color: #f0eeee; }
  .navigation__profile-img {
    height: 3rem;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 1rem; }
  .navigation__profile-icon {
    display: flex; }

/********************************/
/* Side Navigation */
/********************************/
.side-nav {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: sticky;
  position: fixed;
  top: 0;
  width: 18%;
  height: 100%;
  margin-top: 8rem;
  background-color: #101d35; }
  .side-nav__lists {
    list-style: none;
    font-size: 1.6rem;
    margin-top: 3.5rem; }
  .side-nav__list {
    position: relative;
    border-left: 0.4rem solid transparent;
    margin-bottom: 1rem;
    transition: all 0.3s; }
    .side-nav__list:hover, .side-nav__list:active, .side-nav__list--active {
      background-color: #830000;
      background-color: #e52a5a;
      border-left: 0.4rem solid #cafd11; }
  .side-nav__link:link, .side-nav__link:visited {
    display: flex;
    align-items: center;
    padding: 1.5rem 3rem;
    text-decoration: none;
    text-transform: capitalize;
    letter-spacing: 0.75px;
    color: #fff; }
    .side-nav__link:link svg, .side-nav__link:visited svg {
      height: 1.8rem;
      width: 1.8rem;
      margin-right: 2rem; }
    .side-nav__link:link span, .side-nav__link:visited span {
      transform: translateY(2.5px); }

/********************************/
/* Answer page */
/********************************/
.answer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 2rem; }
  .answer__details {
    font-size: 1.6rem;
    font-weight: 600;
    margin-top: 1rem; }
  .answer__person {
    align-self: flex-end;
    padding: 0.5rem 2rem;
    background-color: #b4c2db;
    color: #201f1f;
    font-size: 1.4rem;
    margin-bottom: 2rem; }
    .answer__person a:link,
    .answer__person a:visited {
      color: #2c0ddb;
      font-weight: 700;
      text-transform: uppercase;
      text-decoration: none; }
  .answer__form {
    width: 100%; }
    .answer__form label {
      display: block;
      font-size: 2rem;
      font-weight: 700; }
    .answer__form textarea {
      width: 80%;
      padding: 1rem;
      resize: none;
      border: 0.2rem solid #444;
      outline: none;
      background-color: #f9f9f9; }

/************************************************************/
/* Top Questions & ALl Questions (Home & Questions Page) */
/************************************************************/
.main-header {
  padding: 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2rem;
  border-bottom: 0.1rem solid #333; }
  .main-header span {
    margin-right: auto;
    font-size: 2rem;
    font-weight: 700; }
  .main-header .search-box {
    margin-right: auto; }

.question {
  display: flex;
  gap: 2rem;
  align-items: center;
  padding: 2rem; }
  .question:nth-child(odd) {
    background-color: #f3d9fa; }
  .question:nth-child(even) {
    background-color: #f6e8fa; }
  .question__answer-count {
    line-height: 1.4;
    width: min-content;
    font-size: 1.6rem;
    text-transform: capitalize;
    padding: 1rem;
    background-color: #101d36;
    color: #fff;
    text-align: center; }
  .question__name {
    font-family: 'Work Sans', sans-serif;
    justify-self: flex-start;
    font-size: 2rem;
    font-weight: 700;
    text-transform: capitalize;
    margin-right: auto; }
    .question__name a {
      text-decoration: none;
      color: #020083; }
  .question__time, .question__user {
    font-size: 1.6rem; }

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  font-family: 'Josefin Sans', sans-serif;
  box-sizing: border-box;
  color: #444;
  line-height: 1.8; }

::selection {
  background-color: #e67700;
  color: #fff; }

/********************************/
/* Tag Page Search */
/********************************/
.search-box {
  display: flex;
  align-items: center;
  gap: 1.5rem; }

.search-box-name {
  font-size: 1.4rem;
  color: #200aeb; }

.search {
  margin-left: 2rem;
  display: flex;
  align-items: center; }
  .search svg {
    height: 1.8rem;
    width: 1.8rem;
    stroke: #666;
    z-index: 2;
    transform: translate(-1.2rem); }
  .search__input {
    font-family: inherit;
    font-size: 1.4rem;
    color: inherit;
    border: none;
    border-radius: 10rem;
    padding: 0.8rem 3.5rem;
    width: 100%;
    background-color: #f0eeee;
    transition: all 0.6s;
    margin-left: -4.25rem;
    margin-right: 1rem; }
    .search__input:focus {
      outline: none; }

/********************************/
/* Card Components [Tags] */
/********************************/
.cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  column-gap: 2rem;
  row-gap: 4rem;
  padding: 2rem;
  background-color: #eeeded; }

.card {
  display: flex;
  flex-direction: column;
  padding: 2rem 1rem;
  box-shadow: 0 0 2rem rgba(0, 0, 0, 0.15);
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  box-shadow: 0 10px 6px -6px #777;
  background-color: #ffffff;
  color: #f9f9f9;
  outline: 0.4rem solid transparent;
  transition: all 0.3s; }
  .card:hover {
    outline: 0.4rem solid #101d36; }
  .card__title {
    font-family: 'Work Sans', sans-serif;
    width: max-content;
    font-size: 1.6rem;
    font-weight: 500;
    padding: 0.4rem 1rem;
    text-transform: uppercase;
    background-color: #101d36;
    margin-bottom: 1rem;
    cursor: pointer; }
  .card__description {
    font-size: 1.4rem;
    line-height: 1.6;
    margin-bottom: 1rem;
    color: #444; }
  .card__question-counts {
    width: max-content;
    font-size: 1.4rem;
    padding: 0.1rem 1rem;
    align-self: flex-end;
    background-color: #ec407a;
    background-color: #9d174d;
    border-radius: 3rem; }

/***************************************************/
/* Button Asked questions from header navigation */
/***************************************************/
.btn {
  font-size: 1.6rem;
  padding: 0.4rem 1rem;
  border-radius: 3rem;
  border: none;
  outline: none;
  cursor: pointer;
  width: max-content;
  transition: all 0.2s; }
  .btn:not(:last-child) {
    margin-right: 0.5rem; }
  .btn--different {
    background-color: #a61e4d;
    color: #fff; }
    .btn--different:hover {
      background-color: #c2255c; }

/********************************/
/* Heading & Paragraph */
/********************************/
.heading-primary,
.heading-secondary {
  font-family: sans-serif;
  font-size: 3rem;
  padding: 0 0 0 2rem;
  font-weight: 700;
  text-transform: uppercase; }

.heading-primary {
  font-size: 3rem; }

.heading-secondary {
  font-size: 2rem; }

.heading-tertiary {
  font-family: 'Open Sans', sans-serif;
  font-size: 3rem;
  font-weight: 700;
  text-transform: uppercase;
  color: #a61e4d; }

.paragraph {
  padding: 1rem 2rem 0;
  font-size: 1.6rem;
  line-height: 1.4;
  width: 70%; }

/********************************/
/* Ratings [Home page] */
/********************************/
.ratings {
  padding: 0 2.25rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: -0.5rem;
  line-height: 1.4;
  background-color: #eb2f64; }
  .ratings__rate {
    font-size: 3rem;
    font-weight: 500; }
  .ratings__vote {
    font-size: 1.4rem; }

.main-content--4 {
  height: 100vh; }

/********************************/
/* User Heading */
/********************************/
.user {
  display: grid;
  grid-template-columns: auto 1fr;
  background-color: #a61e4d;
  color: #fff;
  place-items: center;
  gap: 2rem;
  padding: 2rem; }
  .user__img {
    width: 15rem;
    height: 15rem;
    object-fit: cover;
    border-radius: 50%; }
  .user__info {
    justify-self: start; }
  .user__name {
    font-size: 3rem;
    text-transform: capitalize; }
  .user__join, .user__location {
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-bottom: 1rem; }
    .user__join svg, .user__location svg {
      height: 2rem;
      width: 2rem; }
    .user__join span, .user__location span {
      font-size: 1.4rem;
      line-height: 1.4; }

/*********************************************************/
/* User Options [Profile Activties & Profile Settings] */
/********************************************************/
.options {
  margin-top: 4rem;
  padding-left: 2rem;
  /**********************/
  /* Profile Activties */
  /*********************/
  /********************/
  /* Profile Settings */
  /********************/ }
  .options__tab-container {
    display: flex;
    gap: 2rem;
    margin-bottom: 2rem; }
  .options__tab {
    padding: 0.4rem 1rem;
    background-color: #101d36;
    color: #eee;
    border: none;
    border-radius: 3rem;
    cursor: pointer;
    transition: all 0.2s; }
    .options__tab--active {
      background-color: #eb0404; }
  .options__activity {
    margin-top: 6rem;
    display: flex;
    gap: 2rem;
    justify-content: space-around;
    align-items: center; }
  .options__answer, .options__question {
    padding: 4rem;
    background-color: #f3d9fa;
    background-color: #fab8d2;
    display: flex;
    flex-direction: column;
    text-align: center;
    transition: all 0.3s; }
    .options__answer--1, .options__question--1 {
      font-size: 1.6rem;
      font-weight: 700;
      padding: 1rem;
      border-bottom: 0.2rem solid #888;
      text-decoration: none;
      color: #330fd3; }
    .options__answer--2, .options__question--2 {
      font-size: 1.6rem;
      padding: 1rem; }
    .options__answer:hover, .options__question:hover {
      outline: 1.6rem solid #0b7285;
      outline-offset: 2rem; }
  .options__question {
    background-color: #fcc2d7;
    background-color: #eebefa; }
  .options__settings {
    margin-top: 3rem;
    display: flex;
    justify-content: space-between;
    gap: 4rem;
    align-items: center;
    transition: all 3s cubic-bezier(0.86, 0, 0.07, 1); }
  .options__photo {
    position: relative;
    margin-bottom: 4rem; }
  .options__img {
    width: 18rem;
    height: 18rem;
    object-fit: cover; }
    .options__img--new {
      position: absolute;
      bottom: 0;
      left: 0;
      transform: translate(5%, 25%);
      font-size: 1.4rem;
      padding: 0.5rem 1rem;
      background-color: #101d36;
      color: #f9f9f9;
      width: max-content;
      cursor: pointer; }

.options__content {
  display: none;
  visibility: hidden;
  opacity: 0; }

.options .options__content--active {
  display: flex;
  opacity: 1;
  visibility: visible; }

/**************************/
/* Profile Settings Forms */
/**************************/
.form {
  flex: 2;
  justify-self: flex-start;
  align-self: flex-start; }
  .form label {
    display: block;
    font-weight: 600;
    font-size: 1.8rem; }
  .form__display {
    border: 0.1rem solid #888;
    padding: 1rem;
    background: #f9f9f9;
    outline: none;
    width: 60%;
    display: block; }
    .form__display:not(:last-child) {
      margin-bottom: 1rem; }
  .form input[type='button'],
  .form input[type='reset'] {
    display: inline-block;
    width: max-content;
    background-color: #730099;
    color: #fff;
    border: none;
    padding: 1rem 1.5rem;
    cursor: pointer;
    margin-right: 1rem; }
