// Main Content
.content {
  display: grid;
  grid-template-columns: 18% 82%;
}
// aside navigation
aside {
  background-color: #101d35;
}

main {
  display: none;
  transform: scale(0);
}
main.main-content__active {
  margin-top: 8rem;
  display: block;
  transform: scale(1);
  transition: transform 1s ease;
}
