*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}
html {
  font-size: 62.5%;
}
body {
  // font-family: "Work Sans", sans-serif;
  font-family: 'Josefin Sans', sans-serif;
  box-sizing: border-box;
  color: #444;
  line-height: 1.8;
}

::selection {
  background-color: #e67700;
  color: #fff;
}
